<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Biblioteca Virtual - Home</title>
<body>
    <header class="header">
        <div class="container">
            <div class="nav-wrapper">
                <div class="logo-container">
                    <svg class="book-icon" width="50" height="50" viewBox="0 0 24 24" fill="#191970"> </svg>
                    <img src="https://i.ibb.co/LDn60Dtp/2.png" alt="2" border="0"></a>
                    <h1>Porta de Reclamações - IFRN</h1>
                </div>
                <nav class="main-nav">
                    <a href="" class="nav-link">Inicio</a>
                    <a href="{{ url_for('usuarios.autenticar') }}" class="nav-link">Sobre</a>
                    <a href="{{ url_for('usuarios.create') }}" class="nav-link">Contatos</a>
                    <a href="{{ url_for('sobre') }}" class="nav-link">Entrar</a>
                </nav>
            </div>
        </div>
    </header>
        <div class="container">
            <h1>Bem-vindo ao nosso projeto</h1>
            <p>Portal de Reclamações do IFRN-ZN: <br> plataforma exclusiva para <br> registrar, acompanhar e resolver <br> reclamações, sugestões ou <br>denúncias relacionadas ao campus, garantindo anonimato, <br> transparência e melhoria contínua.
</p>
        </div>
    </main>
</body>
</html>