<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="titulo1">
        <p>Sobre</p>
        <p>Contatos</p>
      <a href="login"><button>Entrar</button></a>
    </div>

    <div class="titulo">
        <h1>Bem-vindo ao nosso projeto</h1>
    </div>

    <div class="texto">
        <p>
            Portal de Reclamações do IFRN-ZN: <br>
            plataforma exclusiva para registrar,<br>
            acompanhar e resolver reclamações,<br>
            sugestões ou denúncias <br>
            relacionadas ao campus, garantindo<br>
            anonimato, transparência e <br>
            melhoria contínua.
        </p>
    </div>
    <div class="imagem">
        <img src="https://i.ibb.co/NnsMKLqB/2.png" alt="2" border="0"></a>
    </div>
</body>
</html>
