<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>login</title>

</head>
<body>

  <h2>Login</h2>
    <label for="username">Matricula:</label><br />
    <input type="text" id="username" name="username" required /><br /><br />

    <label for="password">Senha:</label><br />
    <input type="password" id="password" name="password" required /><br /><br />

    <a href="principal"><button>Acessar</button></a>
    <a href="https://exemplo.com/alterar-senha">Esqueceu ou deseja alterar sua senha?</a>

  </form>

</body>
</html>
