<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
</head>
<body>
    <div class="nome">
        <h1>Julia Gabrieli</h1>
    </div>
    <div class="imagem">
     <img src="https://i.ibb.co/WWjFGCGG/image.png" alt="image"></a>
    </div>
    <div class="opcoes">
        <h3>inicio</h3>
        <h3>centra de serviço</h3>
           <a href="abril_chamados.html">Abril Chamados</a>
            <a href="meus_chamados.html">Meus Chamados</a>
    </div>
</body>
</html>