<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
      <form class="login-form" action="{{ url_for('usuarios.autenticar') }}" method="POST"></form>
      <label for="text">Matrícula</label>
      <input type="text" id="Matricula" name="Matricula" required />

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required />

        <button><a href="/abrir chamados">Entrar</a></button>
    </form>

    <p class="signup-link">
      Esqueceu ou deseja alterar sua senha? <a href="recuperar.html">Clique aqui</a>
    </p>
      Não tem uma conta? <a href="{{ url_for('usuarios.create') }}">Cadastre-se</a>
  </div>
</body>
</html>
